#wholepage
{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

body
{
    margin: 0 0;
    background-color: #0a0f17;
    text-align: center;
}


h1
{
    color: #ff5733;
    text-decoration: none;
    font-size: 4rem;
    font-family: 'Gloria Hallelujah', cursive;
    margin: 2rem;
    padding: 0 10px;
    text-align: center;
    position: relative;
}

h1:after
{
    content: "";
    position: relative;
    background-color: #ff5733;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -1px;
    transition: 1s;
}

h1:hover:after
{
    width: 100%;
}

h2
{
    color: #EEEEEE;
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
    margin: 2rem 0rem;
    position: static;
}

p
{
    color: #EEEEEE;
    font-size:1rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
}

a
{
    position: relative;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    color: #a0a0a0;
    font-size: 1rem;
    letter-spacing: 0.5px;
    padding: 2px;
}

a:after
{
    content: "";
    position: absolute;
    background-color: #ff5733;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

a:hover
{
    color: #ffffff;
}

a:hover:after
{
    width: 100%;
}

/* Container formating*/

.top-container
{
    background-color: #0a0f17;
    margin: 0rem 30rem 2rem 30rem;
    padding-top: 0.75rem;
    padding-bottom: 2rem;
    position: relative;
}

.middle-container
{
    background-color: #0a0f17;
    margin: 0rem 30rem 2rem 30rem;
    padding: 2px 0.5rem 0.5rem 0.5rem;
    position: relative;
}

.bottom-container
{
    background-color: #0a0f17;
    margin: 0rem 30rem 2rem 30rem;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    position: relative;
}

/*Buttons*/
.btn
{
    text-decoration: none;
    font-size: 1.5rem;
    padding: 10px;
    margin: 10px ;
    position: relative;
    color: #EEEEEE;
    font-family: 'Roboto Slab', serif;
}

/*Button 1*/
.btn-1
{
    z-index: 0;
    color: #EEEEEE;
}
  
.btn-1:hover
{
    color: white;
}
  
/*Button 2*/
.btn-2
{
    z-index: 0;
    color: #EEEEEE;
}
  
.btn-2:hover
{
    color: white;
}

/*Button 3*/
.btn-3
{
    z-index: 0;
    color: #EEEEEE;
}
  
.btn-3:hover
{
    color: white;
}

table, th, td 
{
    position: center;
    border: none;
    color: #EEEEEE;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
}

